---
export const buttonColors = {
  primary: "btn-primary",
  secondary: "btn-secondary",
  neutral: "btn-neutral",
  accent: "btn-accent",
};

const hoverColors = {
  neutral: "hover:btn-neutral",
  primary: "hover:btn-primary",
  secondary: "hover:btn-secondary",
  accent: "hover:btn-accent",
};

interface Props {
  color?: keyof typeof buttonColors;
  hover?: keyof typeof hoverColors;
  classes?: string;
}

const { color = "neutral", hover = "primary", classes, ...rest } = Astro.props;
---

<button
  class:list={[
    "btn btn-sm rounded",
    buttonColors[color],
    hoverColors[hover],
    classes,
  ]}
  {...rest}
  ><slot />
</button>
