---
import Heading from "./Heading.astro";
import EditAddItem from "@/components/react/EditAddItem";
import ItemArray from "./react/ItemArray";
---

<div
  class="rounded-box bordered border-base-content border-1 shadow-2xl p-10 col-span-3"
>
  <div class="flex items-center gap-3">
    <Heading tagName="h2" size="h2">All Items</Heading>
    <EditAddItem classes="mb-1" client:idle />
  </div>
  <p class="mb-2">
    <small>Click on an item to add it to the list or edit it!</small>
    <ItemArray client:only />
  </p>
</div>
